body {
  padding: 0;
  margin: 0;
}

.container {
  background-color: #ADD8E6;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  background-color: #9BC0CC;
  border-radius: 10px;
  font-size: 2rem;
  margin-top: 5%;
}

.liters {
  background-color: #9BC0CC;
  border-radius: 10px;
  font-size: 2.5rem;
  margin-top: 2%;
}

.beer {
  margin-top: 10%;
  width: 60%;
  height: 50%;
  display: flex;
  align-items: center;
}

.beer img {
  width: 100%;
  height: 100%;
  transition: transform  0.005s ease-in-out;
}

.beer img:active {
  transform: scale(1.2);
}

.tg-height {
  height: var(--tg-viewport-stable-height, 100vh);
  transition: height 0.35s linear;
}