/* Переменные */
:root {
  --background-color: #000000;
  --main-color: #1c1f24;
  --container-color: #272a2f;
  --accent-color: #ffd700;
}

/* Запрет на выделение текста */
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}
/* Запрет на выделенее картинок */
img {
  pointer-events: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  padding: 0;
  margin: 0;
}

.container {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  /* background-color: lightblue; */
  padding-top: 1rem;
  height: 6%;
  display: flex;
}

header img {
  /* padding: 3px; */
  margin-left: 20px;
  height: auto;
}

header span {
  margin-left: 1rem;
  color: white;
  font-weight: 450;
  display: flex;
  align-items: center;
}

main {
  margin-top: 1rem;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-top: 2px solid var(--accent-color);
	box-shadow: 0px 0px 50px 0px var(--accent-color);
  background-color: #1c1f24;
  flex-grow: 1;
}

.pivo-container {
  background-color: var(--container-color);
  border-radius: 1rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  flex-direction: column;
  display: flex;
}

.amount, .earning {
  padding: 5px;
  color: white;
  display: flex;
  justify-content: center;
}

.amount {
  padding-bottom: 0;
  font-size: 1.5rem;
}

.earning {
  padding-top: 0;
}

.clicker {
  padding: 0.5rem 1rem 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.clicker img {
  padding-top: 0;
  max-width: 70%;
  max-height: 70%;
  flex-grow: 1;
}

.onclick img {
  animation: pivoclick 0.6s 1;
}

@keyframes pivoclick {
  from {
    transform: scale(1);
  }

  20% {
    transform: scale(0.92);
  }

  40% {
    transform: scale(1.08);
  }

  50% {
    transform: scale(0.98);
  }

  60% {
    transform: scale(1.02);
  }

  70% {
    transform: scale(0.99);
  }

  80% {
    transform: scale(1.01);
  }

  to {
    transform: scale(1);
  }
}

footer {
  background-color: var(--main-color);
  height: 12%;
}

footer .container {
  height: 100%;
  width: auto;
  background-color: var(--container-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}

footer .item {
  color: white;
  margin: 5px;
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: auto;
  font-weight: 500;
  color: #4c4c4c
}

footer .item.active {
  background-color: var(--main-color);
  border-radius: 20px;
  color: white;
  transition: color 0.3s ease-in-out;
}

footer img {
  filter: invert(70%);
  width: 30%;
  padding-bottom: 0.1rem;
  height: auto;
}

footer .item.active img {
  transition: filter 0.3s ease-in-out;
  filter: none;
}